[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
  helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	name = mihiliii
	email = 115306746+mihiliii@users.noreply.github.com
[credential]
	helper = /opt/homebrew/bin/gh auth git-credential
